<div id="contacts" class="block-wrapper">
	<h2>Contacts</h2>
	<div ng-repeat="contact in vm.User.contacts" class="contacts-item">
		<span>{{contact.name}}:</span>
		<a ng-if="contact.reference" ng-href="{{contact.link}}" target="_blank">{{contact.link}}</a>
		<a ng-if="contact.mail" ng-href="mailto:{{contact.link}}">{{contact.link}}</a>
		<a ng-if="contact.skype" ng-href="callto:{{contact.link}}">{{contact.link}}</a>
	</div>
	<div class="summary">
		<h2>Summary</h2>
		<p>
			Hello, my name is Alex and I'm an freelance artist and illustrator.
			<br>
			I have four years of experience in the games industry at the position of 2D artist and Illustrator.
			<br>
			Since 2014 worked in the "Game insight" company, recently working on a freelance. 
			<br>
			I like to paint fantasy characters, creatures, amazing worlds and the medieval ages.
		</p>
	</div>
	<div class="icons">
		<a ng-if="icon.type == 'skype' " ng-repeat="icon in vm.User.icons" ng-href="callto:{{icon.link}} ">
			<i class="fa {{icon.class}}" aria-hidden="true"></i>
		</a>
		<a ng-if="icon.type == 'link'" ng-repeat="icon in vm.User.icons" ng-href="{{icon.link}}" target="_blank">
			<i class="fa {{icon.class}}" aria-hidden="true"></i>
		</a>
		<a ng-if="icon.type == 'mail' " ng-repeat="icon in vm.User.icons" ng-href="mailto:{{icon.link}} ">
			<i class="fa {{icon.class}}" aria-hidden="true"></i>
		</a>
	</div>
</div>