
// Variables
$header-footer-color: #90a4ae
$text-color: #263238
$background-color: #eceff1
$mobile: 768px
$tablet: 1024px



//Mixins
@mixin respond-to($media)
	@if $media == mobile 
    	@media only screen and (max-width: $mobile) 
    		@content
	@if $media == tablet 
   		@media only screen and (min-width: $mobile) and (max-width: $tablet) 
    		@content
	@if $media == mobile-landscape 
    	@media only screen and (max-width: $mobile) and (orientation: landscape)
    		@content

// Global
* 
	margin: 0
	padding: 0

a, a:visited
		color: $text-color
		text-decoration: none
		cursor: pointer
a:hover
	font-weight: bold

html
	font-family: 'Roboto', sans-serif
	color: $text-color
	background-color: $background-color

.block-wrapper
	width: 95%
	margin: auto
	overflow: hidden
	@include respond-to(mobile)
		box-sizing: border-box
		width: auto
		padding-left: 5%
		padding-right: 5%


.active
	font-weight: bold

.open
	display: block !important

// Header
header
	box-sizing: border-box
	width: 100%
	min-height: 97px
	background-color: $header-footer-color
	box-shadow: 0 0 5px 0px $text-color
	padding-left: 30px
	position: fixed
	top: 0
	z-index: 2
	@include respond-to(mobile)
		position: static
		padding-left: 0


	#branding
		float: left
		@include respond-to(mobile)
			float: none
			display: block
			text-align: center
		&:hover
			font-weight: lighter

		img
			@include respond-to(mobile)
				    width: 48px
    				margin-top: 10px

		.name-proff-block-wrapper
			display: inline-block
			vertical-align: top
			margin: 5px 0  0 10px
		h1
			font-size: 35px
			@include respond-to(mobile)
				font-size: 25px
		h2
			font-size: 30px
			font-weight: lighter
			@include respond-to(mobile)
				font-size: 25px

	li
		float: left
		display: inline
		padding: 0 20px
		font-size: 30px
		@include respond-to(mobile)
			float: none
			font-size: 25px

	nav 
		float: right
		margin-top: 30px
		@include respond-to(mobile)
			float: none
			display: block
			text-align: center
			margin-top: 10px

	.current
		font-weight: bold

//Main part
main
	margin-top: 100px
	min-height: calc(100vh - 160px)
	@include respond-to(mobile)
		margin-top: 0

// Contacts
#contacts
	padding-top: 40px
	h2
		margin-top: 5px
		margin-bottom: 5px
	
.contacts-item
	font-size: 20px
	padding-bottom: 10px
	word-wrap: break-word

.summary
	border: 1px solid $header-footer-color
	border-left: none
	border-right: none
	p
		font-size: 20px
		padding-bottom: 15px

.icons
	padding-top: 10px
	font-size: 30px

// Gallety
#gallery
	padding-top: 5px
	text-align: center

.gallery-item
	display: inline-block
	box-sizing: border-box
	width: 385px
	height: 385px
	padding: 8px
	vertical-align: top
	cursor: pointer
	@include respond-to(mobile)
		width: 100%
		height: auto
	@include respond-to(mobile-landscape)
		width: 385px
		height: 385px
	@include respond-to(tablet)
		width: 385px
		height: 385px

	&:hover
		padding: 0
		@include respond-to(mobile)
			padding: 8px

	img
		width: 100%
		box-shadow: 0 0 15px 0px $text-color

.gallery-full-size-window
	display: none
	width: 100vw
	height: 100vh
	background-color: rgba(0, 0, 0, .85)
	color: $header-footer-color
	position: fixed
	top: 0
	z-index: 3
	img
		height: auto
		max-height: 100%
		width: auto
		max-width: 100%
		box-shadow: 0 0 10px 0px #071015

	.close-icon
		width: 50px
		text-align: center
		position: absolute
		right: 70px
		top: 20px
		font-size: 50px
		&:hover
			font-size: 52px
			cursor: pointer
		@include respond-to(mobile)
			right: 5px
			top: 5px
		@include respond-to(tablet)
			right: 50px
			top: 50px

	.arrow, .origin-image
		display: inline-block
		height: 95%
		// margin-top: 3%
		font-size: 100px
	.arrow
		box-sizing: border-box
		width: 9%
		height: 50vh
		vertical-align: top
		text-align: center
		padding-top: 20vh
		margin-top: 25vh
		&:hover
			background-color: rgba(255, 255, 255, .2)
			cursor: pointer
		@include respond-to(mobile-landscape)
			padding-top: 5vh
		@include respond-to(mobile)
			&:hover
				background-color: rgba(255, 255, 255, 0)

	.origin-image
		line-height: 100vh
		width: 80%
		text-align: center
		box-sizing: border-box
		padding-top: 5%
		@include respond-to(mobile)
			width: 78%
			padding-top: 25%
		@include respond-to(mobile-landscape)
			padding-top: 0
// Footer
footer
	height: 60px;
	background-color: $header-footer-color

footer .block-wrapper
	padding: 20px
	text-align: center