<div id="contacts" class="block-wrapper">
	<h2>Contacts</h2>
	<div ng-repeat="contact in vm.User.contacts" class="contacts-item">
		<span>{{contact.name}}:</span>
		<a ng-if="contact.type == 'link'" ng-href="{{contact.link}}" target="_blank">{{contact.link}}</a>
		<a ng-if="contact.type == 'mail'" ng-href="mailto:{{contact.link}}">{{contact.link}}</a>
		<a ng-if="contact.type == 'skype'" ng-href="callto:{{contact.link}}">{{contact.link}}</a>
	</div>
	<div class="summary">
		<h2>Summary</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, tellus vel suscipit tristique, ligula turpis vulputate mi, ac sollicitudin tellus elit eu felis. Etiam at semper orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis bibendum, lectus ac convallis sagittis, nulla nisl eleifend eros, eu cursus odio lorem nec est. Sed mattis, diam sit amet ullamcorper suscipit, purus nulla egestas nibh, in iaculis sapien ligula nec massa. Aliquam in ligula purus. Mauris sed nisi vitae nulla ullamcorper convallis. Ut vitae dignissim mauris. Phasellus ut leo sed lectus pulvinar sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent vehicula placerat sem, nec porttitor tortor lacinia sed. Morbi vestibulum laoreet velit, vitae egestas massa ullamcorper a. Donec viverra vestibulum laoreet.

			Morbi dapibus ante a ligula dictum ornare. Donec cursus elit diam, ut sollicitudin libero fringilla suscipit. Vivamus malesuada, nisl vel laoreet sodales, odio quam vulputate nibh, quis vulputate diam lectus quis tellus. Morbi at dui finibus, feugiat dui lobortis, eleifend nulla. Fusce augue mauris, tincidunt sed mauris non, ornare elementum sem. Nam quis ipsum et magna laoreet dictum. Ut malesuada dolor nec nisi vulputate, a gravida urna venenatis. Aliquam erat volutpat. Curabitur lobortis lectus sed libero tempor, eget sollicitudin mi accumsan. Pellentesque egestas nibh ex, vel suscipit mauris fringilla at. Nam at nunc metus. Proin in sapien non urna luctus dictum et sit amet nunc. Fusce libero tortor, convallis et varius eget, maximus at risus. Pellentesque scelerisque massa orci, at iaculis nulla ultricies et. Ut ornare orci ac diam lobortis, ac volutpat lorem fringilla.
		</p>
	</div>
	<div class="icons">
		<a ng-if="icon.type == 'skype' " ng-repeat="icon in vm.User.icons" ng-href="callto:{{icon.link}} ">
			<i class="fa {{icon.class}}" aria-hidden="true"></i>
		</a>
		<a ng-if="icon.type == 'link'" ng-repeat="icon in vm.User.icons" ng-href="{{icon.link}}" target="_blank">
			<i class="fa {{icon.class}}" aria-hidden="true"></i>
		</a>
		<a ng-if="icon.type == 'mail' " ng-repeat="icon in vm.User.icons" ng-href="mailto:{{icon.link}} ">
			<i class="fa {{icon.class}}" aria-hidden="true"></i>
		</a>
	</div>
</div>